// Import font like this for now, will download later
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Declare used font(s)
$font-primary: 'Poppins', sans-serif;
// $font_secondary: 'Times New Roman', sans-serif;

// Declare dark mode colors (dm)
$dm-primary: #0E1C36;
$dm-secondary: blue;
$dm-btn-primary: #293857;
$dm-text: #E1F5E9;
$dm-link: #E1F5E9;
$dm-link-hover: white;

// Declare light mode colors (lm)
$lm-primary: white;
$lm-secondary: lightgray;
$lm-btn-primary: darkblue;
$lm-text: black;
$lm-link: red;
$lm-link-hover: darkred;