/* Import font like this for now, will download later */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  background-color: #0E1C36;
}