html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.register-column {
  border-left: 1px solid white;
  height: 100vh;
}

.card-style {
  background-color: #0E1C36;
  width: 80%;
  height: 80%;
}

.card-title {
  text-align: left;
}

.form-style {
  width: 75%;
  height: 75%;
}

.input-style {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}